.container {
  max-width: var(--body-max-width);
}

.logoWrapper {
  width: 90%;
  max-width: 50vw;
  aspect-ratio: 4 / 3;
  padding: 1em;
  margin: 0 auto 0.5em auto;

  background-color: white;
  border: 2px solid var(--color-one);
  border-radius: 0.25em;
  border-style: solid;
}

.logoWrapper * {
  width: 100%;
  aspect-ratio: inherit;
}

.titleSection {
  padding: 0.25em;
  text-align: start;
}

.titleSection a {
  font-weight: 600;
  color: var(--text-accent-color);
  text-decoration: none;
}