.button {
  height: 2em;
  aspect-ratio: 2 / 1;
  
  padding: 0.25em 0.5em;
  
  border: none;
  border-radius: 0.5em;
  
  margin: 0 0.5em 0.5em 0.5em;
}

.black.button {
  background-color: black;
}

.purple.button {
  background-color: #4b2e83;
}

.accent.button {
  background-color: var(--color-accent-two);
}

.icon {
  height: 98%;
  aspect-ratio: 1 / 1;
}