@font-face {
  font-family: 'Playfair Display';
  src: url(../../resources/fonts/playfair-display/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Raleway';
  src: url(../../resources/fonts/raleway/Raleway-VariableFont_wght.ttf);
}

:root {
  --font-family-header: 'Raleway';
  --font-family-body: 'Raleway';
  --font-family-default: 'Raleway';
  --ul-bullet-style: "-  ";
}