.bar {
  background-color: var(--color-two);
  color: var(--text-on-color-two);
}

.bar * {
  font-weight: bold;
}

.bar a, .bar a:visited {
  color: var(--text-on-page-background);
}

.bar a:hover, .bar a:visited:hover {
  color: var(--text-on-color-two);
}