.bar {
  background-color: var(--color-two);
  color: var(--text-on-color-two);
}

.bar * {
  font-weight: 600;
}

.bar a, .bar a:visited {
  color: var(--text-on-color-two);
}

.bar a:hover, .bar a:visited:hover {
  color: var(--color-accent-one);
}

.container {
  max-width: var(--body-max-width);
}