.footerSpacer {
  box-sizing: border-box;
  height: 2em; /* Gives space of 2em as an artificial margin-top for the footer itself */
}

.footer {
  max-width: var(--body-max-width);

  margin-top: auto; /* Ensures the footer remains at the bottom of the page */
  padding: 1.5em 1em 2em 1em;

  background-color: var(--color-two);
  color: var(--text-on-color-two);
}

.columnHeader {
  font-size: larger;
}