.App {
  text-align: start;
  background-color: var(--color-page-background);
  color: var(--text-on-page-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--text-on-page-background);
}

a:hover {
  color: var(--color-accent-one);
}

ul {
  list-style-type: var(--ul-bullet-style);
}